<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sejam bem vindes ao meu blog!</h1>
            <h5 class="text-monospace text-center text-uppercase">Primeiro projeto feito em Angular!</h5>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Projeto realizado como exercício no bootcamp intensivo da Generation Brasil! Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quas a rerum porro tempora, modi amet incidunt, quo ipsam doloribus laborum nemo deserunt hic ipsa cum vero officia! Voluptates, officia.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae natus temporibus corporis, harum perferendis facere ullam voluptas est non porro explicabo quidem sequi, ipsum ex repellat veniam minus laborum mollitia.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur officia possimus ab sint animi tenetur culpa voluptas similique modi libero eveniet dicta, veritatis asperiores expedita dolorem maxime, placeat beatae sunt.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quis aliquid saepe natus eum dignissimos amet. Quis odio suscipit distinctio tempore neque? Laudantium nulla ducimus suscipit quod fugit excepturi illum.
            </p>
        </div>
    </div>
</div>

<!--Parallax-->
    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold">Ver o feed</button>
        </div>
    </div>

