<footer>

    <hr>
    <div class="row mb-3">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="social-network">
                <li>
                    <a href="#" class="icoLinkedin" title="Linkedin">
                        <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
                    </a>
                </li>
            </ul> 
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">
    
                Todos os direitos reservados para Paula Justi &copy;
            </p>
        </div>
    </div>
    



</footer>